<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Enable this if you want only admin (logged from the administration) to view and use the promotions.">Admin mode</span></label>
        <div class="col-sm-3">
            <select name="{{ moduleName }}[development_mode]" id="input-development-mode" class="form-control">
                <option {{ moduleData.development_mode  and  moduleData.development_mode  ==  'no' ? 'selected="selected"' : '' }} value="no" >Disabled</option>

                <option {{ moduleData.development_mode  and  moduleData.development_mode  ==  'yes' ? 'selected="selected"' : '' }} value="yes">Enabled</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="">Discount on taxes</span></label>
        <div class="col-sm-3">
            <select name="{{ moduleName }}[discount_to_taxes]" id="input-development-mode" class="form-control">
                <option {{ moduleData.discount_to_taxes  and  moduleData.discount_to_taxes  ==  'no' ? 'selected="selected"' : '' }} value="no" >Disabled</option>

                <option {{ moduleData.discount_to_taxes  and  moduleData.discount_to_taxes  ==  'yes' ? 'selected="selected"' : '' }} value="yes">Enabled</option>
            </select>
        </div>
    </div>
</div>