{% macro renderBanner(j3, context) %}
  {% set index = 0 %}
  {% for item in context.items %}
    <div class="{{ j3.classes(item.classes) }}">
      <a {% if item.link.href %}href="{{ item.link.href }}"{% endif %}>
        {% if 0 %}
          <img src="{{ context.dummy_image }}" data-src="{{ item.image }}" {% if item.image2x %}data-srcset="{{ item.image }} 1x, {{ item.image2x }} 2x" {% endif %} alt="{{ item.title }}" width="{{ context.imageDimensions.width }}" height="{{ context.imageDimensions.height }}" class="lazyload"/>
        {% else %}
          <img src="{{ item.image }}" {% if item.image2x %}srcset="{{ item.image }} 1x, {{ item.image2x }} 2x" {% endif %} alt="{{ item.title }}" width="{{ context.imageDimensions.width }}" height="{{ context.imageDimensions.height }}"/>
        {% endif %}
        <span class="banner-caption">{{ item.title }}</span>
      </a>
    </div>
  {% endfor %}
{% endmacro %}
<div id="{{ id }}" class="{{ j3.classes(classes) }}">
  {% if title %}
    <h3 class="title module-title">{{ title }}</h3>
  {% endif %}
  <div class="module-body">
    {# grid #}
    {% if not carousel %}
      {{ _self.renderBanner(j3, _context) }}
    {% endif %}
    {# grid + carousel #}
    {% if carousel %}
      <div class="swiper" data-items-per-row='{{ itemsPerRow|json_encode(constant('JSON_FORCE_OBJECT')) }}' data-options='{{ carouselOptions|json_encode }}'>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{ _self.renderBanner(j3, _context) }}
          </div>
        </div>
        <div class="swiper-buttons">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    {% endif %}
  </div>
</div>
