{% if items %}
  <div class="{{ j3.classes(classes) }}">
    {% if title %}
      <h3 class="title module-title">{{ title }}</h3>
    {% endif %}
    <ul>
      {% for item in items %}
        <li class="{{ j3.classes(item.classes) }}">
          {% if item.link.href %}
            <a {% if tooltipStatus %}data-toggle="tooltip" data-tooltip-class="icons-menu-tooltip-{{ module_id }}" data-placement="{{ tooltipPosition }}" title="{{ item.title }}"{% endif %} href="{{ item.link.href }}" {{ j3.linkAttrs(item.link) }}>{{ j3.countBadge(item.title, item.link.total, item.link.classes) }}</a>
          {% else %}
            <a>{{ j3.countBadge(item.title, item.link.total, item.link.classes) }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
