<div class="{{ j3.classes(classes) }}">
  <div class="module-body">
    {% for item in items %}
      <div class="{{ j3.classes(item.classes) }}">
        {% if item.link.href %}
          <a href="{{ item.link.href }}" class="info-block">
            <div class="info-block-content">
              <div class="info-block-title">{{ item.title }}</div>
              <div class="info-block-text">{{ item.content }}</div>
            </div>
            {% if item.link.total is not null %}
              <span class="count-badge">{{ item.link.total }}</span>
            {% endif %}
          </a>
        {% else %}
          <div class="info-block">
            <div class="info-block-content">
              <div class="info-block-title">{{ item.title }}</div>
              <div class="info-block-text">{{ item.content }}</div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
