{% macro renderProductsItem(item, context) %}
  {% set products = item.products %}
  {% if context.carousel %}
    <div class="swiper" {% if context.display == 'grid' %}data-items-per-row='{{ context.itemsPerRow|json_encode(constant('JSON_FORCE_OBJECT')) }}'{% endif %} data-options='{{ context.carouselOptions|json_encode(constant('JSON_FORCE_OBJECT')) }}'>
      <div class="swiper-container">
        <div class="swiper-wrapper product-{{ context.display }}">
          {% include "journal3/template/journal3/product_card.twig" with context %}
        </div>
      </div>
      <div class="swiper-buttons">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  {% else %}
    <div class="product-{{ context.display }}">
      {% include "journal3/template/journal3/product_card.twig" with context %}
    </div>
  {% endif %}
{% endmacro %}
<div class="{{ j3.classes(classes) }}">
  <div class="module-body">
    {# grid #}
    {% if sectionsDisplay == 'blocks' %}
      {% for item in items %}
        <div class="{{ j3.classes(item.classes) }}">
          {% if item.title %}
            <h3 class="title module-title">{{ item.title }}</h3>
          {% endif %}
          {{ _self.renderProductsItem(item, _context) }}
        </div>
      {% endfor %}
    {% endif %}
    {# tabs #}
    {% if sectionsDisplay == 'tabs' %}
      <div class="tab-container">
        <ul class="nav nav-tabs">
          {% for item in items %}
            <li class="{{ j3.classes(item.tab_classes) }}">
              {% if item.link.href %}
                <a href="{{ item.link.href }}">{{ item.title }}</a>
              {% else %}
                <a href="#{{ id }}-tab-{{ loop.index }}" data-toggle="tab">{{ item.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for item in items %}
            {% if not item.link.href %}
              <div class="{{ j3.classes(item.classes) }}" id="{{ id }}-tab-{{ loop.index }}">
                {{ _self.renderProductsItem(item, _context) }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {# accordion #}
    {% if sectionsDisplay == 'accordion' %}
      <div class="panel-group" id="{{ id }}-collapse">
        {% for item in items %}
          <div class="{{ j3.classes(item.classes) }}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#{{ id }}-collapse-{{ loop.index }}" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{ id }}-collapse" aria-expanded="false">
                  {{ item.title }}
                  <i class="fa fa-caret-down"></i>
                </a>
              </h4>
            </div>
            <div class="{{ j3.classes(item.panel_classes) }}" id="{{ id }}-collapse-{{ loop.index }}">
              <div class="panel-body">
                {{ _self.renderProductsItem(item, _context) }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {# isotope #}
    {% if sectionsDisplay == 'isotope' %}
      <ul class="nav nav-tabs">
        {% for item in items %}
          <li class="{{ j3.classes(item.tab_classes) }}">
            <a data-filter=".{{ id }}-section-{{ loop.index }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="product-grid isotope-grid">
        {% include "journal3/template/journal3/product_card.twig" with _context %}
      </div>
    {% endif %}
  </div>
</div>
