{% if attribute_groups %}
  <div id="tab-specification">
    <table class="table table-bordered">
      {% for attribute_group in attribute_groups %}
        <thead>
        <tr>
          <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
        </tr>
        </thead>
        <tbody>
        {% for attribute in attribute_group.attribute %}
          <tr>
            <td>{{ attribute.name }}</td>
            <td>{{ attribute.text }}</td>
          </tr>
        {% endfor %}
        </tbody>
      {% endfor %}
    </table>
  </div>
{% endif %}
