<form class="form-horizontal" id="form-review">
  <div id="review"></div>
  <legend>{{ text_write }}</legend>
  {% if review_guest %}
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
      <div class="col-sm-10">
        <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-review">{{ entry_review }}</label>
      <div class="col-sm-10">
        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
        <div class="help-block">{{ text_note }}</div>
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label">{{ entry_rating }}</label>

      <div class="col-sm-10 rate">
        <span>{{ entry_bad }}</span>
        <input type="radio" name="rating" value="1" />

        <input type="radio" name="rating" value="2" />

        <input type="radio" name="rating" value="3" />

        <input type="radio" name="rating" value="4" />

        <input type="radio" name="rating" value="5" />
        <span>{{ entry_good }}</span>
      </div>
    </div>
    {{ captcha }}
    <div class="buttons clearfix">
      <div class="pull-right">
        <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
      </div>
    </div>
  {% else %}
    {{ text_login }}
  {% endif %}
</form>
