{{ header }}
<ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
  {% endfor %}
</ul>
{% if j3.settings.get('pageTitlePosition') == 'top' %}
  <h1 class="title page-title"><span>{{ heading_title }}</span></h1>
{% endif %}
{{ j3.loadController('journal3/layout', 'top') }}
<div class="container">
  <div class="row">{{ column_left }}
    <div id="content">
      {% if j3.settings.get('pageTitlePosition') == 'default' %}
        <h1 class="title page-title">{{ heading_title }}</h1>
      {% endif %}
      {{ content_top }}
      <div class="quick-checkout-wrapper">
        <div class="quick-checkout">
          <div class="journal-loading"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/html" id="quick-checkout">
  <div v-bind:class="[(account === '') && !customer_id ? 'login-active' : '']">
      <div class="left">
        {{ login_block }}

        {{ register_block }}

        {{ payment_address_block }}

        {{ shipping_address_block }}
      </div>

      <div class="right">

        <div class="checkout-section shipping-payment">
          {{ shipping_method_block }}

          {{ payment_method_block }}
        </div>

        {{ coupon_voucher_reward_block }}

        <div class="checkout-section checkout-payment-details" v-bind:class="[order_data.payment_method ? 'payment-' + order_data.payment_code : '']">
          <div class="title section-title">{{ j3.settings.get('sectionTitlePaymentDetails') }}</div>
          <div class="quick-checkout-payment">
            <div class="journal-loading-overlay">
              <div class="journal-loading"><i class="fa fa-spinner fa-spin"></i></div>
            </div>
          </div>
        </div>

        {{ cart_block }}

        {{ confirm_block }}
      </div>

  </div>
</script>
<script>window['_QuickCheckoutData'] = {{ checkout_data|json_encode }};</script>
{{ footer }}
