<style>
  @media only screen and (max-width: {{ data.globalPageContentWidth }}px) {
    .tab-container::before {
      display: none !important;
    }
  }

  /*No top bar not over*/
  {% if data.stickyStatus and not data.stickyFullHomePadding and not data.topBarStatus and data.headerType in ['slim', 'compact'] %}
  .desktop body{
    padding-top: {{ data.headerCompactHeight}}px
  }
  .desktop header{
    width: 100%;
    top: 0;
    position: fixed;
  }
  {% endif %}

  /*No top bar over*/
  {% if data.stickyStatus and data.stickyFullHomePadding and not data.topBarStatus and data.headerType in ['slim', 'compact'] %}
  .desktop:not(.route-common-home) body{
    padding-top: {{ data.headerCompactHeight}}px
  }
  .desktop header{
    width: 100%;
    top: 0;
    position: fixed;
  }
  {% endif %}


  /*Top bar not over*/
  {% if data.stickyStatus and not data.stickyFullHomePadding and data.topBarStatus and data.headerType in ['slim', 'compact'] %}
  .desktop header{
    position: -webkit-sticky;
    position: sticky;
    top: -{{ data.headerTopBarHeight}}px;
  }
  .popup-open .sticky-compact, .mobile-overlay .sticky-compact{
    padding-top:{{ data.headerCompactHeight + data.headerTopBarHeight}}px;
  }
  .popup-open .sticky-compact header, .mobile-overlay .sticky-compact header {
    position: fixed;
    width: calc(100% - 12px);
  }
  {% endif %}

  /*Top bar over*/
  {% if data.stickyStatus and data.stickyFullHomePadding and data.topBarStatus and data.headerType in ['slim', 'compact'] %}
  .desktop header{
    position: -webkit-sticky;
    position: sticky;
    top: -{{ data.headerTopBarHeight}}px;
  }

  /*Home*/
  .desktop.route-common-home header{
    margin-bottom: -{{ data.headerCompactHeight}}px;
  }
  .popup-open .sticky-compact, .mobile-overlay .sticky-compact{
    padding-top:{{ data.headerCompactHeight + data.headerTopBarHeight}}px;
  }
  .popup-open.route-common-home .sticky-compact, .mobile-overlay.route-common-home .sticky-compact{
    padding-top:{{data.headerTopBarHeight}}px;
  }
  .popup-open .sticky-compact header, .mobile-overlay .sticky-compact header {
    position: fixed;
    width: calc(100% - 12px);
  }
  {% endif %}

  /*Title before breadcrumbs*/

  {% if data.titleBeforeBreadcrumbs and data.pageTitlePosition == 'top' %}
    header{
      order:-5
    }
    .breadcrumb{
      order:0
    }
    .page-title{
      order:-1
    }
  {% endif %}
</style>
