<div class="form-group">
    <label class="col-sm-2 control-label" for="input-image"><span data-toggle="tooltip" title="">Promotion view page:</label>
    <div class="col-sm-6">
        <select name="information_page[status]" id="input-info-page" class="form-control">
            <option {{ information_page.status  and  information_page.status == 'yes' ? 'selected="selected"' : '' }} value="yes" selected="selected">Enabled</option>
            <option {{ (information_page.status  and  information_page.status == 'no')  or  is_new  ? 'selected="selected"' : '' }} value="no">Disabled</option>
        </select>
    </div>
</div>

<div style="display:none;" data-triggered-from="#input-info-page" class="display_when_enabled">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <div class="alert alert-info"><i class="fa fa-thumb-tack"></i> Promotion will be listed here:
                {{ promotion_page_link }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Link ">Display the promotion in a product tab (product page)</label>
        <div class="col-sm-6">
            <select name="information_page[link_promotion]" id="input-link-promo" class="form-control">
                <option {{ information_page.link_promotion  and  information_page.link_promotion == 'yes' ? 'selected="selected"' : '' }} value="yes">Yes</option>
                <option {{ information_page.link_promotion  and  information_page.link_promotion == 'no' ? 'seected="selected"' : '' }} value="no">No</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Link ">Add button link to promotions tab (below add to cart) </label>
        <div class="col-sm-6">
            <select name="information_page[button_link]" id="input-link-promo" class="form-control">
                <option {{ information_page.button_link  and  information_page.button_link == 'yes' ? 'selected="selected"' : '' }} value="yes">Yes</option>
                <option {{ information_page.button_link  and  information_page.button_link == 'no' ? 'selected="selected"' : '' }} value="no">No</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description:</label>
        <div class="col-sm-6">
            <ul class="nav nav-tabs popup_tabs">
                {% for key, value in languages %}
                <li><a href="#description_{{ key }}" data-toggle="tab"><img src="{{ value.flag_url }}"> {{ value.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <div class="tab-content">
                {% for key, value in languages %}
                <div id="description_{{ key }}" class="tab-pane fade in active">
              <textarea name="information_page[description][{{ key }}]" placeholder="">
              {{ information_page.description[key] ? information_page.description[key] : '' }}
              </textarea>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-seo-slug">SEO slug:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="information_page[seo_slug]" value="{{ information_page.seo_slug ? information_page.seo_slug : ''  }}" id="input-seo-slug" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-page-title">Page Title:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="information_page[page_title]" value="{{ information_page.page_title ? information_page.page_title : ''  }}" id="input-page-title" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-seo-slug"> Meta Description:</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="information_page[meta_description]">{{ information_page.meta_description ? information_page.meta_description : ''  }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-seo-slug">Meta Keywords:</label>
        <div class="col-sm-6">
            <textarea class="form-control"name="information_page[meta_keywords]">{{ information_page.meta_keywords ? information_page.meta_keywords : ''  }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-image">Main image:</label>
        <div class="col-sm-6">
            <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ information_thumb }}" alt="" title="" data-placeholder="{{ image_placeholder }}" /></a>
            <input type="hidden" name="information_page[image]" value="{{ information_page.image ? information_page.image : ''  }}" id="input-image" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-image-small-size">Main image size</label>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="information_page[main_image_width]" value="{{ information_page.main_image_width ? information_page.main_image_width : '500' }}" placeholder="Width" class="form-control">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="information_page[main_image_height]" value="{{ information_page.main_image_height ? information_page.main_image_height : '500' }}" placeholder="Height" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"  for="input-image-small-size">Small image size</label>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="information_page[small_image_width]" value="{{ information_page.small_image_width ? information_page.small_image_width : '200' }}" placeholder="Width" class="form-control">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="information_page[small_image_height]" value="{{ information_page.small_image_height ? information_page.small_image_height : '200' }}" placeholder="Height" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" style="word-break: normal; text-align: left;"><span data-toggle="tooltip" title="Display the products / categories / brands associated in this promotion">Display the products / categories / brands</label>
        <div class="col-sm-6">
            <select name="information_page[display_products]" id="input-display-products" class="form-control">
                <option {{ information_page.display_products  and  information_page.display_products == 'yes' ? 'selected="selected"' : '' }}value="yes">Yes</option>
                <option {{ information_page.display_products  and  information_page.display_products == 'no' ? 'selected="selected"' : '' }}value="no">No</option>
            </select>
        </div>
    </div>
</div>

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript"><!--
{% for key, value in languages %}
$('#description_{{ key }} textarea').summernote({height: 300});
{% endfor %}
//-->
</script>

<script>
$('.popup_tabs a:first').tab('show');
</script>