{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="submit" form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>
        <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
 
			<a id="download_exel" class="btn btn-default">Export</i></a>
         <button type="button" id="button-import" class="btn btn-primary"><i class="fa fa-upload"></i> Chọn file</button>
         <a onclick="uploadData();" class="btn btn-primary" id="button-import-submit"><span>{{ button_import }}</span></a>
			
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-product" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="col-sm-4">

            <div class="form-group">
                <label class="control-label" for="input-category">{{ column_category }}</label>
                <select name="filter_category" id="input-category" class="form-control" >
                    <option value="*">{{entry_all_categories}}</option>
                    {% for category in categories %}
                        {% if category.category_id == filter_category %}
                            <option value="{{ category.category_id }}" selected="selected">{{ category.name }}</option>
                        {% else %}
                            <option value="{{ category.category_id }}"> {{ category.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-model">{{ entry_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-price">{{ entry_price }}</label>
              <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
              <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
            </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-status">{{ entry_status }}</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value=""></option>
                
                
                
                  
                

                  {% if filter_status == '1' %}

                
                
                  
                
                
                <option value="1" selected="selected">{{ text_enabled }}</option>
                
                
                
                  
                

                  {% else %}

                
                
                  
                
                
                <option value="1">{{ text_enabled }}</option>
                
                
                
                  
                

                  {% endif %}
                  {% if filter_status == '0' %}

                
                
                  
                
                
                <option value="0" selected="selected">{{ text_disabled }}</option>
                
                
                
                  
                

                  {% else %}

                
                
                  
                
                
                <option value="0">{{ text_disabled }}</option>
                
                
                
                  
                

                  {% endif %}


              
              
                
              
              
              </select>
            </div>
 
			 <div class="form-group">
              <label class="control-label" for="input-manufacturer">{{ entry_manufacturer }}</label>
              <select name="filter_manufacturer" id="input-manufacturer" class="form-control">
                <option value=""></option>
                 {% for manufacturer in manufacturers %}
                     {% if filter_manufacturer == manufacturer.manufacturer_id %}
                    <option value="{{manufacturer.manufacturer_id}}" selected="selected">{{manufacturer.name}}</option>
                    {% else %}
                    <option value="{{manufacturer.manufacturer_id}}">{{manufacturer.name}}</option>
                    {% endif %}
                 {% endfor %}
              </select>
            </div>
			
            <div class="form-group" style="margin-top: 23px;">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-center">{{ column_image }}</td>
                      <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                      <td class="text-left">{{ column_category }}</td>
                      <td class="text-right">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-center">{% if product.product_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                      {% endif %}</td>
                    <td class="text-center">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                    <td class="text-left">{{ product.name }}</td>
                    <td class="text-left">{{ product.model }}</td>
                    <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      <div class="text-danger">{{ product.special }}</div>
                      {% else %}
                      {{ product.price }}
                      {% endif %}</td>
                    <td class="text-left">{% for category in categories %}{% if category.category_id in product.category %}{{ category.name }}<br>{% endif %}{% endfor %}<br></td>
                    <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
                    <td class="text-left">{{ product.status }}</td>
                    <td class="text-right"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';
 
       var filter_manufacturer = $('select[name=\'filter_manufacturer\']').val();
        if (filter_manufacturer !== '') {
          url += '&filter_manufacturer=' + encodeURIComponent(filter_manufacturer);
        }
      

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}


            var filter_category = $('select[name=\'filter_category\']').val();

            if (filter_category != '*') {
                url += '&filter_category=' + encodeURIComponent(filter_category);
            }
            
	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/product&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script></div>
 
				<script type="text/javascript">
       $('#download_exel').on('click', function() {
        var url = '';
        var filter_name = $('input[name=\'filter_name\']').val();
        if (filter_name) {
          url += '&filter_name=' + encodeURIComponent(filter_name);
        }
        var filter_model = $('input[name=\'filter_model\']').val();
        if (filter_model) {
          url += '&filter_model=' + encodeURIComponent(filter_model);
        }
        var filter_price = $('input[name=\'filter_price\']').val();
        if (filter_price) {
          url += '&filter_price=' + encodeURIComponent(filter_price);
        }

            var filter_category = $('select[name=\'filter_category\']').val();

            if (filter_category != '*') {
                url += '&filter_category=' + encodeURIComponent(filter_category);
            }
            
        var filter_quantity = $('input[name=\'filter_quantity\']').val();
        if (filter_quantity) {
          url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
        }
        var filter_status = $('select[name=\'filter_status\']').val();
        if (filter_status !== '') {
          url += '&filter_status=' + encodeURIComponent(filter_status);
        }
        var filter_manufacturer = $('select[name=\'filter_manufacturer\']').val();
        if (filter_manufacturer !== '') {
          url += '&filter_manufacturer=' + encodeURIComponent(filter_manufacturer);
        }
        location = 'index.php?route=tool/export_import/downloadManufacturer&user_token={{ user_token }}' + url;
      });
  function checkFileSize(id) {
  // See also http://stackoverflow.com/questions/3717793/javascript-file-upload-size-validation for details
  var input, file, file_size;

  if (!window.FileReader) {
    // The file API isn't yet supported on user's browser
    return true;
  }

  input = document.getElementById(id);
  if (!input) {
    // couldn't find the file input element
    return true;
  }
  else if (!input.files) {
    // browser doesn't seem to support the `files` property of file inputs
    return true;
  }
  else if (!input.files[0]) {
    // no file has been selected for the upload
    alert( "Vui lòng chọn một tập tin trước khi nhấp vào  'Nhập dữ liệu" );
    return false;
  }
  else {
    file = input.files[0];
    file_size = file.size;
    {% if empty %} 
    // check against PHP's post_max_size
    post_max_size = {{ post_max_size }};
    if (file_size > post_max_size) {
      alert( "{{ error_post_max_size }}" );
      return false;
    }
    {% endif %}
    {% if empty %} 
    // check against PHP's upload_max_filesize
    upload_max_filesize = {{ upload_max_filesize }};
    if (file_size > upload_max_filesize) {
      alert( "{{ error_upload_max_filesize }}" );
      return false;
    }
    {% endif %}
    return true;
  }
}
function uploadData() {
  if (checkFileSize('upload')) {
    $('#button-import-submit').button('loading');
    $('#import').submit();
    setTimeout(function(){ $('#button-import-submit').button('reset'); }, 3000);
    
  }
}
 $('#button-import').on('click', function() {
$('#import').remove();
$('body').prepend('<form action="index.php?route=tool/export_import/uploadFormProductList&user_token={{ user_token }}" enctype="multipart/form-data" method="post" id="import" class="form-horizontal" style="display: none;"><input type="file" name="upload" id="upload" /><input type="hidden" name="incremental" value="1" checked="checked" /></form>');
$('#import input[name=\'upload\']').trigger('click');
});
</script>
			
{{ footer }} 